.room{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.room__header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: center;
}
.room__header-title {
  flex-grow: 1;
  color: var(--color-text-title);
}

.room__header-link {
  text-decoration: none;
}

.div-images__section-rooms {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  gap: 12px;
}

.div-images__section-rooms::-webkit-scrollbar {
  height: 20px;
  display: none;
}

