.publications {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.publication {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.publication__header {
  display: flex;
  gap: 8px;
}
.publication__header-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}
.publication__header-details--link {
  text-decoration: none;
  color: var(--color-text-title);
}
.publication__header-details--link:hover {
  text-decoration: underline;
}
.publication__header-details--hour {
  color: var(--color-text-more);
  font-size: 14px;
}
.publication__header-more {
  text-decoration: none;
  color: var(--color-text-more);
  font-size: 24px;
  text-align: end;
  width: 24px;
}

.publication__text {
  color: var(--color-text-normal);
  font-size: 16px;
}

.publication__image-container {
  width: 100%;
  min-height: 350px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-fondo-hover);
}
.publication__image {
  display: none;
  border-radius: 3px;
  width: 100%;
  max-height: 720px;
  min-height: 360px;
  object-fit: cover;
}

.publication__reactions {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}
.publication__reaction {
  flex-grow: 1;

  padding: 10px;
  margin: 0 3px;
  border-radius: 8px;

  color: var(--color-text-more);
  text-align: center;
}
.publication__reaction:hover {
  background: var(--color-fondo);
}
