.a__list {
  margin-right: 15px;
  padding: 5px;
  border-radius: 10px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: var(--color-text-normal);

  overflow: hidden;

  display: flex;
  gap: 8px;
  align-items: center;
}
.a__list:hover {
  background: var(--color-fondo-hover);
}

.icon-item__list {
  width: 40px;
  height: 40px;
}
