.create-publication {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.create-publication__form {
  padding-bottom: 14px;
  width: 100%;

  display: flex;
  border-bottom: 1px solid var(--color-fondo-hover);
}
.create-publication__form-input {
  flex-grow: 1;
}
.create-publication__options{
  display: flex;
  justify-content: space-around;
}
.create-publication__option {
  padding: 4px 16px;
  border-radius: 19px;

  text-decoration: none;
  color: var(--color-text-more);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.create-publication__option:hover {
  background: var(--color-fondo-hover);
}

.page__icon-main {
  width: 30px;
  height: 30px;
}
